@-webkit-keyframes coffee {
  100% {
    opacity: 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%); } }
@keyframes coffee {
  100% {
    opacity: 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%); } }

.coffee {
  background: rgb(98, 86, 192);;
  display: grid;
  border-radius: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  height: 8rem;
  position: relative;
  width: 7rem;
  padding: 0.2rem;
  justify-items: center;
 }
  .coffee:before {
    box-sizing: border-box;
    content: '';
    height: 52%;
    width: 47%;
    border: 0.4rem solid rgb(98, 86, 192);;
    position: absolute;
    top: 50%;
    margin-top: -26%;
    margin-left: -1rem;
    left: 100%;
    border-radius: 1.5rem;
  }
  .coffee div {
    height: 1rem;
    width: 1rem;
    background: white;
    opacity: .5;
    animation: coffee 3s infinite;
    animation: coffee 3s infinite;
    -webkit-animation: coffee 3s infinite;
            animation: coffee 3s infinite; }
  .coffee div:nth-child(1) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .coffee div:nth-child(2) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  .coffee div:nth-child(3) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .coffee div:nth-child(4) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  .coffee div:nth-child(5) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; 
            }
   .coffee div:nth-child(6) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;}
  .LogoOnCup{
    position: absolute;
    top:40%;
    width: 70%;
  }